# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Packaging / build
*.egg-info/
*.egg
dist/
build/
.eggs/

# Virtual environments
.venv/
venv/
env/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Editors
.vscode/
.idea/
*.swp
*~

# OS
.DS_Store
Thumbs.db

# Local env scripts
z_env_memory.ps1

